.navigation {
	display: flex;
	justify-content: flex-end;
	padding: 0 100px;
	transition: 0.2s ease-in;
	margin-bottom: 30px;
	flex-wrap: wrap;

	background: #141618;
	a {
		color: white;
		text-decoration: none;
		padding: 40px 30px;
		font-size: 1.3rem;

		span {
			display: inline-block;
			position: relative;
			top: -4px;
			left: 0px;
			margin-left: 5px;
			text-align: center;
			background: lightcoral;
			border-radius: 100%;
			width: 38px;
			height: 38px;
			
		}
	}
	h3{
		color: white;
		margin: 0 auto;
		font-size: 3rem;
		margin-top: auto;
	}
}
